*{
    margin: 0%;
    padding: 0%;
    background-color: coral;
}
h1{
    text-align: center;
    background-image: linear-gradient(45deg, #F6E2FF, #3D087B);
}
p{
    background-color: hotpink;
    color: blue;
    font-size: xx-large;
}
pre{
    background-color: tomato;
    font-size: x-large;
}